body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.logo-link:visited {
  color: #fff;
  text-decoration: none;
}

.logo-link:link {
  color: #fff;
  text-decoration: none;
}

nav {
  background-color: #c1d8f0;
  color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add the shadow effect here */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  height: 1em; /* Use 1em to match the font size */
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
}

/* Media query for responsive navigation */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}
